# LetsUpgrade Python Essentials Batch-7

# Assignment Day 2

### Q1. List and it's default functions/methods

List : A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

Methods are: append(), pop(), copy(), index(), insert()

Default functions are: len(), max(), min(), range(), list()

In [1]:
lst = [100,29,150,21,25,5]

print(lst)

[100, 29, 150, 21, 25, 5]

##### List Methods

In [2]:
#append() : The append() method appends an element to the end of the list.

lst.append(8)

print(lst)

[100, 29, 150, 21, 25, 5, 8]

In [4]:
#pop() : The pop() method removes the element at the specified position.

lst.pop(5)

print(lst)

[100, 29, 150, 21, 25, 8]

In [5]:
# copy() : The copy() method returns a copy of the specified list.

copy_lst=lst.copy()

print(copy_lst)

[100, 29, 150, 21, 25, 8]

In [6]:
#index : The index() method returns the position at the first occurrence of the specified value.

lst.index(29)

1

In [7]:
#insert : The insert() method inserts the specified value at the specified position.

lst.insert(9,22)

print(lst)

[100, 29, 150, 21, 25, 8, 22]

##### List Functions

In [8]:
#len() : Returns the length of the list

len(lst)

7

In [9]:
#max() : Returns the max value of the list

max(lst)

150

In [10]:
#min() : Returns the min value of the list

min(lst)

8

In [11]:
#range() : Returns the items between a given range

i=list(range(20))
print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
#list() : Returns a list 

j=(120,13,24,11,2,36)
print(list(j))

[120, 13, 24, 11, 2, 36]

### Q2. Dictionary and it's default functions/methods

Dictionary : A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

Methods are: keys(), values(), items(), update(), get()

Default functions are : len(), any(), sorted(), all(), str()

In [14]:
d={"Name":"Syed Faraz", "Age":21, "City" : "Bangalore"}

print(d)

{'Name': 'Syed Faraz', 'Age': 21, 'City': 'Bangalore'}

##### Dictionary Methods

In [15]:
#keys() : Returns a list containing the dictionary's keys

d.keys()

dict_keys(['Name', 'Age', 'City'])

In [16]:
#values() : Returns a list containing the dictionary's values

d.values()

dict_values(['Syed Faraz', 21, 'Bangalore'])

In [17]:
#items() : Returns a list containing a tuple for each key value pair

d.items()

dict_items([('Name', 'Syed Faraz'), ('Age', 21), ('City', 'Bangalore')])

In [21]:
#update() : Updates the dictionary with the specified key-value pairs

d.update({"Gender":"M"})

print(d)

{'Name': 'Syed Faraz', 'Age': 21, 'City': 'Bangalore', 'age': 22, 'Gender': 'M'}

In [24]:
#get() : Returns the value of the specified key

d.get('Name')

'Syed Faraz'

##### Dictionary Functions

In [25]:
print(d)

{'Name': 'Syed Faraz', 'Age': 21, 'City': 'Bangalore', 'age': 22, 'Gender': 'M'}

In [26]:
#len(): Returns the length of the list

len(d)

5

In [27]:
#any(): Returns true if any key of dictionary is true

any(d)

True

In [28]:
#sorted(): Returns a new sorted list of keys

sorted(d)

['Age', 'City', 'Gender', 'Name', 'age']

In [29]:
#all() : Returns true if all keys of dictionary are true

all(d)

True

In [30]:
#str() : Returns a string which by converting the dictionary to string

str(d)

"{'Name': 'Syed Faraz', 'Age': 21, 'City': 'Bangalore', 'age': 22, 'Gender': 'M'}"

### Q3. Sets and it's default functions/methods

Sets : A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

Methods are : add(), difference(), intersection(), union(), remove()

Default functions are : all(), any(), len(), max(), sum()

In [32]:
s={"I", "Hate", "You", "I","Love", "You"}
print(s)

{'Love', 'I', 'Hate', 'You'}

# Set Methods

In [34]:
#add() : The add() method adds an element to the set.

s.add("Regret")

print(s)

{'Regret', 'Love', 'Hate', 'You', 'I'}

In [82]:
#difference() : The difference() method returns a set that contains the difference between two sets.

s={"I", "Hate", "You", "I","Love", "You"}
s1={"I", "Dislike", "You", "Like"}

r_set=s.difference(s1)

print(r_set)

{'Love', 'Hate'}

In [83]:
#intersection() : The intersection() method returns a set that contains the similarity between two or more sets.

s2={"I", "Hate", "You", "I","Love", "You"}
s3={"I", "Dislike", "You", "Like"}

r_set1= s2.intersection(s3)

print(r_set1)

{'I', 'You'}

In [84]:
#union() : The union() method returns a set that contains all items from the original set, and all items from the specified sets

s4={"I", "Hate", "You", "I","Love", "You"}
s5={"I", "Dislike", "You", "Like"}

r_set2=s4.union(s5)

print(r_set2)

{'Love', 'Hate', 'Like', 'You', 'Dislike', 'I'}

In [85]:
#remove() : The remove() method removes the specified element from the set.

print(s)

s.remove('Love')

print(s)

{'Love', 'I', 'Hate', 'You'}
{'I', 'Hate', 'You'}

# Set Functions

In [86]:
s={"I", "Hate", "You", "I","Love", "You"}
print(s)

{'Love', 'I', 'Hate', 'You'}

In [87]:
#all() : Returns true if all elements of set are true

all(s)

True

In [88]:
#any() : Returns true if any element of set is true

any(s)

True

In [89]:
#len() : Returns the length of the set

len(s)

4

In [90]:
s1 = {48,260,24,144,12}

print(s1)

{260, 12, 48, 144, 24}

In [91]:
#max() : Returns largest item in set

max(s1)

260

In [92]:
#sum() : Returns sum of all elements in set

sum(s1)

488

### Q4. Tuples and it's default functions/methods

Tuple : A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

Methods are: index(), count()

Default functions are : len(), max(), min(), sum(), sorted()

In [93]:
t = ("A","B","C","D", "E") 

print(t)

('A', 'B', 'C', 'D', 'E')

##### Tuple Methods

In [94]:
#index() : Searches the tuple for a specified value and returns the position of where it was found

t.index("D")

3

In [95]:
#count() : Returns the number of times a specified value occurs in a tuple

t.count("B")

1

##### Tuple Functions

In [96]:
#len() : Returns the length of the tuple

t = ("A","B","C","D", "E") 
len(t)

5

In [97]:
#max() : Returns the max value of the tuple

t1=(2,8,4,16)

max(t1)

16

In [98]:
#min() : Returns the min value of the tuple

t1=(2,8,4,16)

min(t1)

2

In [99]:
#sum() : Returns sum of all elements in tuple

t1=(2,8,4,16)

sum(t1)

30

In [100]:
#sorted() : Returns the tuple in sorted manner.

t1=(2,8,4,16)

sorted(t1)

[2, 4, 8, 16]

### Q5. String and it's default methods

String : String literals in python are surrounded by either single quotation marks, or double quotation marks.

Methods are: upper(), lower(), count(), swapcase(), split(), splitlines()

In [101]:
st= "May God Bless You"

print(st)

May God Bless You

##### String Methods

In [102]:
#upper(): Converts string to upper case.

st.upper()

'MAY GOD BLESS YOU'

In [103]:
#lower() : Converts string to lower case

st.lower()

'may god bless you'

In [104]:
#count() : Returns the number of times a specified value occurs in a string

st.count('You')

1

In [105]:
#swapcase() : Returns a string by swapping the cases.

st.swapcase()

'mAY gOD bLESS yOU'

In [106]:
#split() : Splits the string at specified separator and returns a list

st.split()

['May', 'God', 'Bless', 'You']

In [107]:
#splitlines : Splits the string at line breaks and returns a list

st.splitlines()

['May God Bless You']